<%
  kind = case controller_name
         when 'sessions'
           'Вхід до системи'
         when 'registrations'
           'Реєстрація у системі'
         end
%>

<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <div class="flex justify-center">
    <div class="h-12 w-12 bg-black flex items-center justify-center rounded-xl shadow-lg">
      <span class="text-white font-bold text-xl tracking-tighter italic">Au</span>
    </div>
  </div>
  <h2 class="mt-6 text-center text-2xl font-semibold tracking-tight text-gray-900">
    <%= kind %> Aulabs
  </h2>
  <p class="mt-2 text-center text-sm text-gray-500 font-light italic">
    Engineering the future of mobility
  </p>
</div>