<h1><%= t("mailers.service_request_mailer.accepted.heading") %></h1>

<p><%= t("mailers.service_request_mailer.accepted.body", workshop: @workshop.name) %></p>

<p>
  <%= link_to t("mailers.service_request_mailer.accepted.cta"),
              service_request_url(@service_request),
              class: "btn" %>
</p>
